PowerPredictionflows.json
[{"id":"dedea2a3.7c715","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"875f6c32.f79d7","type":"http request","z":"dedea2a3.7c715","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/bc5efced-0f44-4ea0-906d-a0f69e73c2a8/deployments/d8d29038-cbdf-4e0a-93fa-082275dbb2fd/online","tls":"","proxy":"","x":790,"y":420,"wires":[["e94abbf0.fb55c8","5dc9ea76.c7dd74"]]},{"id":"e18466a1.5e1d08","type":"function","z":"dedea2a3.7c715","name":"prediction","func":"var token=msg.payload.token;\nvar ActivePower=global.get(\"ActivePower\");\nvar WindSpeed=global.get(\"WindSpeed\");\nmsg.payload={\"fields\":[\"WindSpeed\",\"ActivePower\"],\"values\":[[ActivePower,WindSpeed]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["875f6c32.f79d7","5dc9ea76.c7dd74"]]},{"id":"5dc9ea76.c7dd74","type":"debug","z":"dedea2a3.7c715","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":300,"wires":[]},{"id":"3f1a5507.6ff56a","type":"http request","z":"dedea2a3.7c715","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":530,"y":200,"wires":[["4288acf5.3471c4","e18466a1.5e1d08"]]},{"id":"c0c19544.637508","type":"inject","z":"dedea2a3.7c715","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":222.00000953674316,"wires":[["d1f9765c.739a08"]]},{"id":"d1f9765c.739a08","type":"function","z":"dedea2a3.7c715","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"271ffe48-9523-4531-8fdb-6a3f44a859a9\"\nvar password=\"f3b0517a-9e55-470e-94e9-b9d58adf7139\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"ActivePower\",msg.payload.ActivePower)\nglobal.set(\"WindSpeed\",msg.payload.WindSpeed)\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["3f1a5507.6ff56a"]]},{"id":"e94abbf0.fb55c8","type":"function","z":"dedea2a3.7c715","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":806,"y":502,"wires":[["250e98cd.9196e8"]]},{"id":"4288acf5.3471c4","type":"debug","z":"dedea2a3.7c715","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":755.0000114440918,"y":167.00000190734863,"wires":[]},{"id":"e211778d.a36368","type":"ui_form","z":"dedea2a3.7c715","name":"","label":"","group":"a7898502.3eee18","order":0,"width":0,"height":0,"options":[{"label":"Actual active power of Plant","value":"ActivePower","type":"number","required":true},{"label":"Enter Wind speed of the mill","value":"WindSpeed","type":"number","required":true}],"formValue":{"ActivePower":"","WindSpeed":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":560,"wires":[["5323b729.2553f8","d662579.9c147a8","d1f9765c.739a08"]]},{"id":"250e98cd.9196e8","type":"ui_text","z":"dedea2a3.7c715","group":"a7898502.3eee18","order":1,"width":0,"height":0,"name":"","label":"Theoritical Power Prediction","format":"{{msg.payload}}","layout":"row-spread","x":855.443115234375,"y":581.4016418457031,"wires":[]},{"id":"5323b729.2553f8","type":"ui_text","z":"dedea2a3.7c715","group":"a7898502.3eee18","order":2,"width":0,"height":0,"name":"Active Power","label":"ActivePower","format":"{{msg.payload.ActivePower}}","layout":"row-spread","x":470,"y":560,"wires":[]},{"id":"d662579.9c147a8","type":"ui_text","z":"dedea2a3.7c715","group":"a7898502.3eee18","order":2,"width":0,"height":0,"name":"Wind Speed","label":"WindSpeed","format":"{{msg.payload.WindSpeed}}","layout":"row-spread","x":390,"y":660,"wires":[]},{"id":"a7898502.3eee18","type":"ui_group","z":"dedea2a3.7c715","name":"Prediction","tab":"7465d651.3f8088","disp":true,"width":"6","collapse":false},{"id":"7465d651.3f8088","type":"ui_tab","z":"dedea2a3.7c715","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]